@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url('./Barlow-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('./Barlow-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('./Barlow-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('./Barlow-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: bold;
  src: url('./Barlow-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: bolder;
  src: url('./Barlow-ExtraBold.ttf') format('ttf');
}