#team,
#team * {
  color: white;
}

#team {
  background: linear-gradient(90.65deg, rgba(59, 66, 96, 1.00) 2.338569425046444%, rgba(59, 55, 85, 1.00) 30.52082061767578%, rgba(60, 46, 77, 1.00) 60.20832061767578%, rgba(61, 30, 59, 1.00) 100%);
  backdrop-filter: blur(15px);
  overflow: auto;
}

#team .title {
  margin-top: 80px;
  color: #ffffff;
  text-align: center;
  font: 700 40px 'Barlow';
}

#team #content-ourteam {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#team .content-ourteam-detail {
  padding-top: 25px;
  width: 25%;
}

#team #name {
  text-align: center;
  font: 700 15px/44px 'Barlow';
}

#team #job-title {
  text-align: center;
  font: 700 10px/44px 'Barlow';
}



#team .content-ourAdvisors .content-ourAdvisors-element {
  max-width: 380px;
  padding: 50px;
  margin-bottom: 100px;
  border-radius: 20px;
}

#team .content-ourAdvisors .content-ourAdvisors-element #image-ourAdvisors {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#team .content-ourAdvisors .content-ourAdvisors-detail {
  background-color: #171d27;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#team .content-ourAdvisors .content-ourAdvisors-detail .text {
  text-align: left;
  padding-left: 30px;
  padding-top: 15px;
}

#team .content-ourAdvisors .content-ourAdvisors-detail .name {
  font: 800 25px 'Barlow';
}

#team .content-ourAdvisors .content-ourAdvisors-detail .job-title {
  color: #e4a400;
  font: 100 12px 'Barlow';
}

#team .content-ourAdvisors .content-ourAdvisors-detail .description {
  color: #ffffff;
  font: 400 15px 'Barlow';
}

#team .content-ourAdvisors .content-ourAdvisors-detail .icon-content {
  margin-top: 50px;
}

#team .content-ourAdvisors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
#team .icon-content{
  padding: 15px 30px;
  display: flex;
  justify-content: left;
}

#team .icon-content img {
  width: 18px;
  padding: 4px;
}

#team #concept-art-by {
  color: #ffffff;
  text-align: center;
  font: 700 40px 'Barlow';
}

#team #content-concept-art-by {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 100px;
  justify-content: center;
  margin: 50px 0px 150px;

}

#team #content-concept-art-by #concept-art-by-image {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#team #content-concept-art-by #concept-art-by-image img {
  width: 100%;
  max-width: 350px;
}

#team #content-concept-art-by #concept-art-by-text {
  flex: 1;
  text-align: justify;
  display: flex;
  align-items: center;
}

#team #content-concept-art-by #culu-art-station {
  color: #ffffff;
  text-align: center;
  font: 800 25px 'Barlow';
  margin-top: 15px;
}

#team #blank-place{
  height: 800px;
}