#footer {
  color: white;
  background-color: #171d27;
  padding: 50px 100px;
}

#footer #first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#footer #second-row {
  display: flex;
}

#footer .content-item {
  width: 137px;
  text-align: left;
}
#footer .content-item h5 {
  font: 700 18px/24px 'Barlow';
  margin: 0;
  padding: 10px;
}
#footer .content-item div {
  font: 400 12px/16px 'Barlow';
  padding: 3px 10px;
}

#footer #third-row {
  color: #ffffff;
  text-align: right;
  font: 400 12px/16px 'Barlow';
  opacity: 0.6000000238418579;
}