#building,
#building * {
  color: white;
}

#building {
  background: linear-gradient(90.65deg, rgba(59, 66, 96, 1.00) 2.338569425046444%, rgba(59, 55, 85, 1.00) 30.52082061767578%, rgba(60, 46, 77, 1.00) 60.20832061767578%, rgba(61, 30, 59, 1.00) 100%);
  backdrop-filter: blur(15px);
  overflow: auto;
}

#building #title-content {
  margin-top: 50px;
  text-align: center;
  font: 700 40px 'Barlow';
  height: 100%;
}

#building #image-content {
  padding: 0px 100px;
}

#building #image-content #image {
  margin-top: 50px;
  width: 100%;
  height: auto;
  max-width: 1200px;
}

#building #building-lever {
  display: flex;
  margin: auto;
  margin-top: 100px;
  padding: 0px 100px;
  width: 100%;
  max-width: 1200px;


}

#building #building-lever .template {
  width: 100%;
  height: auto;
  position: relative;
}

#building #building-lever .lever {
  text-align: center;
  font: 400 14px 'Barlow';
  position: absolute;
  top: 140px;
  left: 50px;
}

#building #building-lever .arrow {
  font-size: 20px;
  position: relative;
  min-width: 45px;
  border-top: 2px solid #8d8d8d;
  border-style: dashed;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-top: 70px;
}

#building #building-lever .image {
  position: absolute;
  bottom: -55px;
  left: 40px;
  width: 120px;
  padding-bottom: 15px;
}



#building #building-lever .arrow-final {
  font-size: 25px;
  color: #8d8d8d;
  position: absolute;
  right: -10px;
  top: -19px;
}

#building #blank {
  height: 700px;
  width: 100%;
}